#map {
    height: 100%;
  }

  .map-container {
    flex-direction: row;
}

@media (min-width: 1000px) {
  #map {
    width: 600px;
  }
}

  @media (max-width: 680px) {
    #map {
      width: unset;
      height: unset;
      margin-left: 0;
    }
    .map-container {
        flex-direction: column-reverse;
    }

    .is-mobile-map-height {
      max-height: 300px;
    }
}