#map {
    height: 100%;
  }

  .map-container {
    flex-direction: row;
}

  @media (max-width: 680px) {
    .map-container {
        flex-direction: column-reverse;
    }

    .is-mobile-map-height {
      max-height: 300px;
    }
}