
@import url("./normalize.css");
@import url("./toolbarstyle.css");


body {
    width: 100%;
    height: 100%;
    background: #FFEBC1;    
}

body, html {
    -webkit-font-smoothing: antialiased;
}

/* хром, сафари */
body::-webkit-scrollbar { width: 0; }

/* ie 10+ */
body { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
body { overflow: -moz-scrollbars-none; }

.scroll-dsable::-webkit-scrollbar { width: 0; }

.scroll-dsable { -ms-overflow-style: none; }

.scroll-dsable { overflow: -moz-scrollbars-none; }

p {
    padding: 0;
    margin: 0;
}

.menu-animation-btn {
    width: 30px;
    height: 2px;
    background-color: black;
    transition: all .6s ease 0s;
}

.close-anim:first-child {
    transform: rotate(225deg);
    margin-top: 2px;
}

.close-anim:nth-child(2) {
    display: none;
}

.close-anim:last-child {
    transform: rotate(135deg);
    margin-top: -2px;
}

.close-anim-burger-btn {
    justify-content: center !important;
}

.fs-general-title {
    font-size: 32px;
}

.fs-sub-title-1 {
    font-size: 24px;
}

.fs-content-1 {
    font-size: 16px;
}

.fs-biggest-title {
    font-size: 56px;
}

.days-breack-point {
    max-width: 230px;
}

.mt-80b {
    margin-top: 80px;
}

.text-aling-cs {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-r {
    flex-direction: row;
}

.flex-c {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.aling-sc {
    align-items: flex-start;
}

.justify-around {
    justify-content: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-page-height {
    height: 100vh;
}

.hidden {
    overflow: hidden;
}

.typography-style {
    font-family: 'Roboto', sans-serif;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {

    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-90 {
    font-size: 90px;
}

.fs-22 {
    font-size: 22px;
}

.fs-16 {
    font-size: 16px;
}

.fff {
    color: #fff;
}

.absolute {
    position: absolute;
}

.pa-20 {
    padding: 20px;
}

.pl-10 {
    padding-left: 13px;
}

div {
    box-sizing: border-box;
}

.static-width-650 {
    width: 650px;
}

.active-menu {
    /* display: flex !important;  */
    right: 0 !important;
 }

 .general-color-text {
    color: #9e510d;
 }

 .swiper-pagination-bullet-active {
    background-color: #9e510d !important;
 }

 .flex-rc {
    flex-direction: row;
}

.home-tytle {
    font-size: 48px;
}

.swiper-break {
    max-width: 507px;
}

.swiper-news,
.swiper-video {
    max-width: 1024px;
}

.swiper-news-pagination {
    bottom: unset !important;
    padding-top: 20px;
}

.swiper-video-pagination {
    bottom: unset !important;
    padding-top: 20px;
}


@media (max-width: 1095px) {
    .swiper-break {
        max-width: 700px;
    }
    
    .swiper-news {
        max-width: 900px;
    }
}

@media (max-width: 900px) {

    .swiper-news {
        max-width: 800px;
    }
    .swiper-news-pagination {
        bottom: 720px !important;
    }
    .fs-sub-title-1 {
        font-size: 18px;
    }
}

@media (max-width: 800px) {

    .swiper-news {
        max-width: 700px;
    }

    .swiper-button-mode {
        width: 20px !important;
        height: 30px !important;
    }

    .swiper-button-mode::after {
        font-size: 30px !important;
    }
}

@media (max-width: 750px) {
    .swiper-break {
        max-width: 600px;
    }

    .swiper-news {
        max-width: 625px;
    }
}

@media (max-width:680px) {
    .swiper-news-pagination {
        bottom: 920px !important;
    }
    .swiper-button-mode {
        top: 17% !important;
    }
}

@media (max-width: 635px) {
    .swiper-break {
        max-width: 500px;
    }
    .fs-general-title {
        font-size: 24px;
    }
    .fs-sub-title-1 {
        font-size: 16px;
    }
    .fs-content-1 {
        font-size: 14px;
    }
    .fs-biggest-title {
        font-size: 28px;
    }
    .text-aling-cs {
        text-align: start;
    }
    .days-breack-point {
        max-width: none;
    }
    .mt-80b {
        margin-top: 0;
    }
    .swiper-news {
        max-width: 505px;
    }
    .swiper-news-pagination {
        bottom: 800px !important;
    }
}

@media (max-width: 513px) {
    .swiper-break {
        max-width: 400px;
    }
    .swiper-news {
        max-width: 388px;
    }
}

@media (max-width: 390px) {
    .swiper-break {
        max-width: 370px;
    }
}

@media (max-width: 375px) {
    .swiper-break {
        max-width: 310px;
        height: 290px !important;
    }
}

@media (max-width: 680px) {
    .flex-rc {
        flex-direction: column;
    }
    .home-tytle{
        font-size: 32px;
    }
}

@media (max-width: 650px) {
    .aling-sc {
        align-items: center;
    }
    .d-none-650 {
        display: none;
    }
}